.App {
  text-align: center;
}

/* The Links Only */
.linkClass {
  list-style-type: none;
  background-color: white;
  height: 50px;
  margin-top: 0px;
  font-size: 20px;
}
li {
  float: left;
  margin-right: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

li:hover { 
  background-color: #FF0078;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}